input[type='range']::-webkit-slider-thumb {
  background-color: white;
}
input[type='range']::-moz-range-thumb {
  background-color: white;
}
input[type='range']::-ms-thumb {
  background-color: white;
}
